{
  "NameBattleFunction": {
    "SLACK_TOKEN": "putyouslacktokenhere",
    "SLACK_SIGNING_SECRET": "putyoursigningsecrethere",
    "NAME_BATTLE_TABLE_NAME": "NameBattle",
    "NAME_BATTLE_METADATA_TABLE_NAME": "NameBattleMetadata"
  }
}
